
fastapi
uvicorn
openai-whisper==20231117
torch==2.1.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
edge-tts
moviepy==1.0.3
imageio
imageio-ffmpeg
pydub
ffmpeg-python
python-multipart
pandas
yt-dlp
numpy
decorator
