fastapi
uvicorn
openai-whisper==20231117  # or latest available stable version
edge-tts
moviepy==1.0.3
imageio==2.31.1
imageio-ffmpeg==0.4.8
pydub
ffmpeg-python
python-multipart
pandas
yt-dlp
numpy
decorator
